$color-white: #fff;
$color-black: #000;

$color-orange-50: #ff9500;
$color-orange-70: #ffbf66;
$color-orange-75: #ffca80;
$color-orange-80: #ffd499;
$color-orange-90: #ffeacc;
$color-orange-95: #fff4e5;
$color-orange-97: #fff9f0;
$color-orange-99: #fffdfa;

$color-white-90: #e4e4e7;
$color-white-95: #f1f1f3;
$color-white-97: #f7f7f8;
$color-white-99: #fcfcfd;

$color-gray-10: #191919;
$color-gray-15: #262626;
$color-gray-20: #333333;
$color-gray-30: #4c4c4d;
$color-gray-35: #59595a;
$color-gray-40: #656567;
$color-gray-60: #98989a;
$color-gray-70: #b3b3b3;
