@use '../abstracts/colors';

$color-primary: colors.$color-orange-50;

$font-primary: 'Be Vietnam Pro', 'sans-serif';

$font-size--sm: 0.875rem;
$font-size--md: 1rem;
$font-size--lg: 1.25rem;
$font-size--xl: 1.5rem;
$font-size--2xl: 1.75rem;
$font-size--3xl: 2.25rem;
$font-size--4xl: 3.125rem;

$radius--xm: 0.25rem;
$radius--sm: 0.375rem;
$radius--md: 0.5rem;
$radius--lg: 0.625rem;
$radius--xl: 0.75rem;
$radius--full: 70px;
