@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 80ch;
  line-height: 1.5;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

body {
  background-color: $color-white-97;
  width: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-size: 1rem;
  font-family: $font-primary;
}

blockquote {
  margin: 0;
  padding: 0;
}

* {
  outline-offset: 3px;
}
